* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

.overpass-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.overpass-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-div h1 {
  color: white;
  text-align: start;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  color: hsl(217, 12%, 63%);
}

.main-square {
  background-color: hsl(213, 19%, 18%);
  width: 30%;
  height: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  gap: 20%;
}

.result {
  display: none;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Aligns with h1 and p */
  align-items: center;
  gap: 1rem; /* smaller, consistent spacing between numbers */
}

.numbers span {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.numbers span:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.attribution {
  color: white;
}

.star {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  transition: background-color 0.3s, color 0.3s;
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 9999px; /* large enough value makes edges fully rounded */
  background-color: hsl(25, 97%, 53%);
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  /* color: white; */
}
